

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #97DBAE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Note Adder Section  */

/* font-family: 'Roboto Slab', serif;
font-family: 'Square Peg', cursive; */

.noteAdder {
  width: 95%;
  text-align: center;
  padding: 20px 0;
}

.noteAdder h2 {
  font-family: 'Roboto Slab', serif;
  margin: 31px 0;
}

.noteText textarea {
  resize: none;
  border-radius: 32px;
  border: none;
  padding: 12px;
  outline: none;
  font-size: 16px;
}

.add {
  width: 4%;
  position: relative;
  left: 5%;
  background-color: #C3E5AE;
  border-radius: 58%;
  padding: 5px;
  font-size: 22px;
  bottom: 24px;
  cursor: pointer;
}

/* Note Section  */

.noteTable {
  width: 95%;
  padding: 35px;
}

.noteTable h2 {
  font-size: 2.2rem;
  font-family: 'Roboto Slab', serif;
}

.noteArea ol {
  padding-left: 8px;
  font-family: 'Square Peg', cursive;
  margin: 0;
}

.noteArea ol li {
  font-size: 3rem;
  font-weight: 700;
  list-style: none;
  position: relative;
}

.noteArea ol li:hover {
  background-color: #C3E5AE;
}

.delete {
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  top: 15px;
  left: 32%;
}
